<label for="first_name">First Name:</label>
<input name="first_name" type="text" value="<%= @person.first_name %>" />

<label for="last_name">Last Name:</label>
<input name="last_name" type="text" value="<%= @person.last_name %>" />

<label for="birthdate">Birthdate:</label>
<input name="birthdate" type="date" value="<%= @person.birthdate %>" />

<input type="submit" />
