<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Numerology App</title>
  <meta name="description" content="Numerology App">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

</head>

<body>
  <div class="header">
    <h1 style="text-align: center">Numerology App</h1>
  </div>

  <hr />
  <div class="container">
    <%= yield %>
  </div>

  <script src="js/scripts.js"></script>
</body>
</html>
